ul.menu li a.active {
  background-color: #6094e9; 
  color: #f3f4f6; 
  border-radius: 0.5rem; 
}

.season-banner {
  background-color: #90CDF4; 
  text-align: center;
  padding: 60px 0;
}

.season-title {
  font-family: 'Poppins', sans-serif;
  font-size: 8rem;
  font-weight: bold;
  color: white;
  margin: 0;
}