<app-navbar></app-navbar>

<div>
</div>

<div class="flex">
  <nav class="w-1/4 bg-gray-100 p-4">
    <ul>
      <li class="py-2 cursor-pointer" (click)="setCategory('accessories')"><a class="text-blue-500">Accessories</a></li>
      <li class="py-2 cursor-pointer" (click)="setCategory('clothing')"><a class="text-blue-500">Clothing</a></li>
      <li class="py-2 cursor-pointer" (click)="setCategory('lens')"><a class="text-blue-500">Lens</a></li>
      <li class="py-2 cursor-pointer" (click)="setCategory('hair')"><a class="text-blue-500">Hair</a></li>
      <li class="py-2 cursor-pointer" (click)="setCategory('avoid')"><a class="text-blue-500">Avoid</a></li>
    </ul>
  </nav>

  <main class="w-3/4 p-8">
    <h1 class="text-4xl font-bold mb-4">Color Details</h1>
    <div *ngIf="filteredColorDetails && filteredColorDetails.length > 0">
      <div *ngFor="let color of filteredColorDetails" class="mb-8">
        <p class="text-xl font-semibold">{{ color.color_name }}</p>
        <p class="text-lg">{{ color.details }}</p>
        <p> 
          <span [style.backgroundColor]="color.hex_code" class="p-1 text-white">{{ color.hex_code }}</span>
        </p>
      </div>
    </div>
    <div *ngIf="!filteredColorDetails || filteredColorDetails.length === 0">
      <p>No details available for this category.</p>
    </div>
  </main>
</div>