<app-navbar></app-navbar>

<div class="container mx-auto p-4">
  <h1 class="text-4xl font-bold mb-4">Color Details</h1>
  <div *ngIf="colorDetails && colorDetails.length > 0">
    <div *ngFor="let color of colorDetails">
      <h2 class="text-2xl font-bold">{{ color.category }}</h2>
      <p><strong>Color Name:</strong> {{ color.color_name }}</p>
      <p><strong>Details:</strong> {{ color.details }}</p>
      <p><strong>Hex Code:</strong> <span [style.backgroundColor]="color.hex_code" class="p-1 text-white">{{ color.hex_code }}</span></p>
    </div>
  </div>
  <div *ngIf="!colorDetails || colorDetails.length === 0">
    <p>No details available for this color.</p>
  </div>
</div>