<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

<div class="main min-h-screen font-poppins flex items-center justify-center">
    <div class="container grid grid-cols-1 lg:grid-cols-2 items-center justify-between p-4 w-full max-w-screen-lg">
        <div class="text-content max-w-md w-full mx-auto lg:mx-0">
            <h1 class="tagline text-6xl font-bold mb-8 max-w-xl">Do you want to know what your seasonal color is?</h1>
            <p class="hero-line text-lg mb-8">
                We got you! <strong>Huenique</strong> can help improve your appearance, boost your confidence, 
                and make you feel more at ease in your own skin by determining the most flattering colors for you.
            </p>
            <a class="button btn-primary" routerLink="/homepage/color-test">Get Started</a>
        </div>
        <div class="colors-content grid grid-cols-2 gap-10 mt-0 lg:mt-0">
            <div class="season-card">
                <h2 class="season-title">SPRING</h2>
                <img src="assets/spring.svg" alt="Spring colors" class="season-image">
            </div>
            <div class="season-card">
                <h2 class="season-title">SUMMER</h2>
                <img src="assets/summer.svg" alt="Summer colors" class="season-image">
            </div>
            <div class="season-card">
                <h2 class="season-title">AUTUMN</h2>
                <img src="assets/autumn.svg" alt="Autumn colors" class="season-image">
            </div>
            <div class="season-card">
                <h2 class="season-title">WINTER</h2>
                <img src="assets/winter.svg" alt="Winter colors" class="season-image">
            </div>
        </div>
    </div>
</div>