.bg-winter {
  background: linear-gradient(to right, #d1d5db, #e5e7eb, #d1d5db); 
}

.bg-summer {
  background: linear-gradient(to right, #93c5fd, #bfdbfe, #93c5fd);
}

.bg-autumn {
  background: linear-gradient(to right, #fdba74, #fed7aa, #fdba74); 
}

.bg-spring {
  background: linear-gradient(to right, #fbcfe8, #f9a8d4, #fbcfe8);
}

.profile-container {
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  max-width: 90%;
  margin: auto;
  padding: 2rem;
}

.text-darkBrown {
  color: #5c4033;
}

.text-darkGray {
  color: #333;
}

.bg-lightOrange {
  background-color: #ffecd0;
}

.bg-lightYellow {
  background-color: #fff9c4;
}

.bg-white {
  background-color: #fff;
}

.rounded {
  border-radius: 0.375rem;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-auto {
  width: 100%;
  border-collapse: collapse;
}

.table-auto th, .table-auto td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}

.table-auto th {
  background-color: rgb(170, 219, 238);
  color: #5c4033;
  text-align: left;
}

.table-auto td {
  text-align: left;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.season-image {
  max-width: 400px; 
  height: auto;
}

.clickable-link {
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
}

.clickable-link:hover {
  color: #669FFF; 
}

.progress-bar {
  width: 100%;
  background-color: #f3f4f6;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.progress-bar-inner {
  height: 1.5rem;
  border-radius: 8px;
  text-align: right;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-weight: bold;
}

.view:hover, 
.next-button, 
.prev-button {
  background-color: #2658e2;
}

.progress-bar-inner.winter { background-color: #1e3a8a; } 
.progress-bar-inner.summer { background-color: #eab308; }
.progress-bar-inner.autumn { background-color: #d97706; } 
.progress-bar-inner.spring { background-color: #10b981; } 