:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.custom-logo-size {
  width: 350px;
  height: auto;
  padding-top: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.image-asset {
  width: 600px;
  height: auto;
  margin-bottom: 10px;
  margin-left: 25px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.bg-peach {
  background-color: #ffeed9;
}

.h2-class {
  text-align: center;
  margin-top: 130px;
}

.white-divider {
  background: url('../../assets/card.svg') no-repeat center center;
  background-size: cover;
}