<app-navbar></app-navbar>
<div class="flex justify-center my-8">
  <ul class="steps steps-horizontal w-full max-w-4xl">
    <li class="step" [ngClass]="{'step-primary': currentStep >= 1}">Take the Test</li>
    <li class="step" [ngClass]="{'step-primary': currentStep >= 2}">Seasonal Tone Result</li>
    <li class="step" [ngClass]="{'step-primary': currentStep >= 3}">Email Copy Request</li>
  </ul>
</div>

@if (result) {
  <div class="bg-lightOrange rounded-badge p-4 text-center max-w-sm mx-auto">
    <h2 class="text-lg font-normal">Your Seasonal Color is</h2>
    <p class="text-5xl font-bold mt-2 uppercase mb-2">{{ result.season_name }}</p>
  </div>

  <div class="season-image flex justify-center my-4">
    @if (result.season_name === 'Spring') {
      <img src="../../../assets/spring_result.svg" alt="Spring" class="max-w-5xl mx-auto">
    } @else if (result.season_name === 'Summer') {
      <img src="../../../assets/summer_result.svg" alt="Summer" class="max-w-5xl mx-auto">
    } @else if (result.season_name === 'Autumn') {
      <img src="../../../assets/autumn_result.svg" alt="Autumn" class="max-w-5xl mx-auto">
    } @else if (result.season_name === 'Winter') {
      <img src="../../../assets/winter_result.svg" alt="Winter" class="max-w-5xl mx-auto">
    }
  </div>

  <div class="season-description px-40 py-4 my-4">
    <h3 class="text-4xl font-extrabold mb-2 font-poppins">Introduction</h3>
    <p class="text-3xl pt-5 font-poppins">
      {{result.season_name}} {{ seasonDescription }}
    </p>
  </div>
  

  <div class="flex justify-center my-4">
    <button (click)="learnMore()" class="btn-lg flex items-center bg-lightYellow text-white rounded-badge py-8 px-12 text-2xl font-bold hover:bg-darkYellow">Learn More</button>
  </div>
  
  @if (recommendations) {
    <div class="recommendations-section">
      @for (category of recommendationCategories; track category) {
        <h3>{{ category | titlecase }}</h3>
        
        <div class="recommendation-colors">
          <div class="color-category">
            @for (item of recommendations[category]; track item.hex_code) {
              <div [style.background-color]="item.hex_code" 
                   class="color-sample" 
                   [ngStyle]="{'color': getTextColor(item.hex_code)}">
                <p class="color-name">{{ item.color_name }}</p>
              </div>
            }
          </div>
        </div>

        <div class="recommendation-descriptions">
          @for (item of recommendations[category]; track item.hex_code) {
            <div class="description-item">
              <p class="">{{ item.color_name }}</p>
              <p class="color-description">{{ item.details }}</p>
            </div>
          }
        </div>
      }
    </div>
  }
}
<div class="mt-8">
  <button class="btn btn-primary" (click)="goToEmailRequest()">Proceed to Email Request</button>
</div>
