<app-navbar></app-navbar>

<div class="w-full px-4">
  <h1 class="header-text text-8xl font-bold text-center my-8">Seasonal Colors</h1>
  
  <section class="season-section bg-gradient-to-r from-pink-300 via-pink-200 to-pink-300 rounded-lg shadow-lg">
    <h2 class="text-6xl font-bold text-center mb-8">Spring</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mx-auto max-w-screen-xl">
      <div class="color-card p-6 bg-pink-100 rounded-lg shadow-md cursor-pointer" (click)="navigateTo('spring', 'clear-spring')">
        <img src="assets/clearSpring1.svg" alt="Clear Spring" class="mb-4">
        <h3 class="spring-text text-3xl font-bold mb-4 text-center">Clear Spring</h3>
        <h5 class="text-lg mb-4 text-center">Vibrant and lively, Clear Spring brings a refreshing burst of color with bright, clear shades.</h5>
      </div>
      <div class="color-card p-6 bg-pink-100 rounded-lg shadow-md cursor-pointer" (click)="navigateTo('spring', 'warm-spring')">
        <img src="assets/warmSpring1.svg" alt="Warm Spring" class="mb-4">
        <h3 class="spring-text text-3xl font-bold mb-4 text-center">Warm Spring</h3>
        <h5 class="text-lg mb-4 text-center">Radiating warmth and energy, Warm Spring blends rich, golden hues for a sunny appearance.</h5>
      </div>
      <div class="color-card p-6 bg-pink-100 rounded-lg shadow-md cursor-pointer" (click)="navigateTo('spring', 'light-spring')">
        <img src="assets/lightSpring1.svg" alt="Light Spring" class="mb-4">
        <h3 class="spring-text text-3xl font-bold mb-4 text-center">Light Spring</h3>
        <h5 class="text-lg mb-4 text-center">Soft and delicate, Light Spring features pastel tones that create a gentle, inviting look.</h5>
      </div>
    </div>
  </section>

  <section class="season-section bg-gradient-to-r from-blue-300 via-blue-200 to-blue-300 rounded-lg shadow-lg">
    <h2 class="text-6xl font-bold text-center mb-8">Summer</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mx-auto max-w-screen-xl">
      <div class="color-card p-6 bg-blue-100 rounded-lg shadow-md cursor-pointer" (click)="navigateTo('summer', 'soft-summer')">
        <img src="assets/softSummer1.svg" alt="Soft Summer" class="mb-4">
        <h3 class="summer-text text-3xl font-bold mb-4 text-center">Soft Summer</h3>
        <h5 class="text-lg mb-4 text-center">Gentle and soothing, Soft Summer uses muted shades for a calm, relaxed vibe.</h5>
      </div>
      <div class="color-card p-6 bg-blue-100 rounded-lg shadow-md cursor-pointer" (click)="navigateTo('summer', 'cool-summer')">
        <img src="assets/coolSummer1.svg" alt="Cool Summer" class="mb-4">
        <h3 class="summer-text text-3xl font-bold mb-4 text-center">Cool Summer</h3>
        <h5 class="text-lg mb-4 text-center">Refreshing and serene, Cool Summer's palette is filled with cool, tranquil colors.</h5>
      </div>
      <div class="color-card p-6 bg-blue-100 rounded-lg shadow-md cursor-pointer" (click)="navigateTo('summer', 'light-summer')">
        <img src="assets/lightSummer1.svg" alt="Light Summer" class="mb-4">
        <h3 class="summer-text text-3xl font-bold mb-4 text-center">Light Summer</h3>
        <h5 class="text-lg mb-4 text-center">Airy and bright, Light Summer combines light, cool hues for a breezy feel.</h5>
      </div>
    </div>
  </section>

  <section class="season-section bg-gradient-to-r from-orange-300 via-orange-200 to-orange-300 rounded-lg shadow-lg">
    <h2 class="text-6xl font-bold text-center mb-8">Autumn</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mx-auto max-w-screen-xl">
      <div class="color-card p-6 bg-orange-100 rounded-lg shadow-md cursor-pointer" (click)="navigateTo('autumn', 'soft-autumn')">
        <img src="assets/softAutumn1.svg" alt="Soft Autumn" class="mb-4">
        <h3 class="autumn-text text-3xl font-bold mb-4 text-center">Soft Autumn</h3>
        <h5 class="text-lg mb-4 text-center">Cozy and comforting, Soft Autumn blends muted, earthy tones for a mellow look.</h5>
      </div>
      <div class="color-card p-6 bg-orange-100 rounded-lg shadow-md cursor-pointer" (click)="navigateTo('autumn', 'warm-autumn')">
        <img src="assets/warmAutumn1.svg" alt="Warm Autumn" class="mb-4">
        <h3 class="autumn-text text-3xl font-bold mb-4 text-center">Warm Autumn</h3>
        <h5 class="text-lg mb-4 text-center">Rich and vibrant, Warm Autumn showcases deep, warm colors reminiscent of fall foliage.</h5>
      </div>
      <div class="color-card p-6 bg-orange-100 rounded-lg shadow-md cursor-pointer" (click)="navigateTo('autumn', 'deep-autumn')">
        <img src="assets/deepAutumn1.svg" alt="Deep Autumn" class="mb-4">
        <h3 class="autumn-text text-3xl font-bold mb-4 text-center">Deep Autumn</h3>
        <h5 class="text-lg mb-4 text-center">Bold and dramatic, Deep Autumn features intense, rich hues for a striking appearance.</h5>
      </div>
    </div>
  </section>

  <section class="season-section bg-gradient-to-r from-gray-300 via-gray-200 to-gray-300 rounded-lg shadow-lg">
    <h2 class="text-6xl font-bold text-center mb-8">Winter</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mx-auto max-w-screen-xl">
      <div class="color-card p-6 bg-gray-100 rounded-lg shadow-md cursor-pointer" (click)="navigateTo('winter', 'clear-winter')">
        <img src="assets/clearWinter1.svg" alt="Clear Winter" class="mb-4">
        <h3 class="winter-text text-3xl font-bold mb-4 text-center">Clear Winter</h3>
        <h5 class="text-lg mb-4 text-center">Crisp and vivid, Clear Winter's palette is filled with bright, sharp colors that stand out.</h5>
      </div>
      <div class="color-card p-6 bg-gray-100 rounded-lg shadow-md cursor-pointer" (click)="navigateTo('winter', 'cool-winter')">
        <img src="assets/coolWinter1.svg" alt="Cool Winter" class="mb-4">
        <h3 class="winter-text text-3xl font-bold mb-4 text-center">Cool Winter</h3>
        <h5 class="text-lg mb-4 text-center">Icy and elegant, Cool Winter uses cool, deep shades for a sophisticated look.</h5>
      </div>
      <div class="color-card p-6 bg-gray-100 rounded-lg shadow-md cursor-pointer" (click)="navigateTo('winter', 'deep-winter')">
        <img src="assets/deepWinter1.svg" alt="Deep Winter" class="mb-4">
        <h3 class="winter-text text-3xl font-bold mb-4 text-center">Deep Winter</h3>
        <h5 class="text-lg mb-4 text-center">Intense and powerful, Deep Winter's colors are dark, rich, and highly contrasting.</h5>
      </div>
    </div>
  </section>
</div>