<app-navbar></app-navbar>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

<div class="main bg-white-100 font-poppins">
  <div class="flex flex-col items-center justify-start p-4 bg-white-100 font-poppins w-full">
    <div class="bg-yellow-100 rounded-lg shadow p-8 mt-8 w-full max-w-4xl text-center relative">
      <h1 class="text-4xl font-bold mb-4">Information</h1>
      <div class="text-left text-gray-700">
        <p class="mb-4 flex items-center">
          <i class="fab fa-instagram text-blue-500 mr-2"></i> {{ huenique }}
        </p>
        <p class="mb-4 flex items-center">
          <i class="fab fa-facebook text-blue-500 mr-2"></i> https://www.facebook.com/huenique.2024
        </p>
        <p class="mb-4 flex items-center">
          <i class="fas fa-envelope text-blue-500 mr-2"></i> {{ email }}
        </p>
        <p class="mb-4 flex items-center">
          <i class="fas fa-phone text-blue-500 mr-2"></i> (212) 228-2123 | 090000000000
        </p>
      </div>
    </div>
  </div>

  <footer class="footer flex items-center justify-center w-full">
    <img src="assets/Fence.svg" alt="color fence">
  </footer>
</div>
