:host {
    display: block;
    height: 100vh;
    overflow: hidden;
  }

.custom-logo-size {
    width: 350px; 
    height: auto;
    margin-right: 70px;
    margin-bottom: 40px;
}

.image-asset {
    width: 600px; 
    height: auto;
    margin-right: 40px;
    margin-bottom: 10px;
}

.bg-peach {
    background-color: #ffeed9; 
}
  
.header-container {
    margin-top: -20px;
}
  
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
}
  
@media (min-width: 768px) {
    .landing-content {
      flex-wrap: nowrap;
    }
    .text-container,
    .image-container {
      width: 50%;
    }
}


.h2-class {
    margin-left: 150px;
}

.vertical-line {
    width: 5px;
    margin-top: 75px;  
    height: 650px; 
    background-color: #9d9b9b;
    border-radius: 20px;  
}

.account-signup-text {
    text-align: center; 
    font-size: 16px; 
    color: #666;
}

.signup-link {
    color: #007BFF; 
    text-decoration: none; 
    cursor: pointer;
}

.signup-link:hover {
    text-decoration: underline; 
}

.input {
    border: 2px solid #ccc; 
    padding: 8px 15px;
    border-radius: 5px; 
    width: 100%; 
    box-sizing: border-box;
}

.input:focus {
    outline: none; 
    border-color: #4A90E2; 
    box-shadow: 0 0 20px rgba(74, 144, 226, 0.5);
}

.white-divider {
    background: url('../../assets/card.svg') no-repeat center center;
    background-size: cover;
}