<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="content-divider min-h-screen flex flex-col items-center justify-center bg-peach p-4 font-poppins">
  <div class="white-divider rounded-lg shadow-lg flex flex-col lg:flex-row relative w-10/12">

    <div class="flex flex-col items-center justify-center p-8 relative z-10 lg:w-1/2">
      <img src="assets/logo.svg" alt="logo" class="mb-4 custom-logo-size">
      <img src="assets/newTwoGirls.svg" alt="landing assets" class="image-asset w-full max-w-lg">
    </div>

    <div class="vertical-line"></div>

    <div class="p-32 flex-1 relative z-10 lg:w-1/2 ml-0 lg:ml-0">
      <h2 class="h2-class text-5xl font-extrabold mb-6">Sign up</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form space-y-7">
        <div class="relative">
          <input formControlName="username" type="text" placeholder="Username" class="input input-bordered w-full">
          @if (usernameControl?.invalid && usernameControl?.touched) {
            <div class="text-red-500 text-sm mt-1">
              @if (usernameControl?.errors?.['required']) {
                Username is required.
              }
              @if (usernameControl?.errors?.['minlength']) {
                Username must be at least 4 characters.
              }
              @if (usernameControl?.errors?.['sqlInjection']) {
                Invalid characters.
              }
            </div>
          }
        </div>
        
        <div class="relative">
          <input formControlName="email" type="email" placeholder="Email" class="input input-bordered w-full">
          @if (emailControl?.invalid && emailControl?.touched) {
            <div class="text-red-500 text-sm mt-1">
              @if (emailControl?.errors?.['required']) {
                Email is required.
              }
              @if (emailControl?.errors?.['email']) {
                Invalid email format.
              }
              @if (emailControl?.errors?.['sqlInjection']) {
                Invalid characters.
              }
            </div>
          }
        </div>
        
        <div class="relative">
          <input [type]="passwordFieldType" formControlName="password" placeholder="Password" class="input input-bordered w-full">
          <i class="fa" [ngClass]="{'fa-eye': passwordFieldType === 'password', 'fa-eye-slash': passwordFieldType === 'text'}" (click)="togglePasswordVisibility()"></i>
          @if (passwordControl?.invalid && passwordControl?.touched) {
            <div class="text-red-500 text-sm mt-1">
              @if (passwordControl?.errors?.['required']) {
                Password is required.
              }
              @if (passwordControl?.errors?.['minlength']) {
                Password must be at least 6 characters.
              }
              @if (passwordControl?.errors?.['sqlInjection']) {
                Invalid characters.
              }
            </div>
          }
        </div>
        
        <div class="relative">
          <input [type]="confirmPasswordFieldType" formControlName="confirmPassword" placeholder="Confirm Password" class="input input-bordered w-full">
          <i class="fa" [ngClass]="{'fa-eye': confirmPasswordFieldType === 'password', 'fa-eye-slash': confirmPasswordFieldType === 'text'}" (click)="toggleConfirmPasswordVisibility()"></i>
          @if (confirmPasswordControl?.invalid && confirmPasswordControl?.touched) {
            <div class="text-red-500 text-sm mt-1">
              @if (confirmPasswordControl?.errors?.['required']) {
                Confirmation password is required.
              }
              @if (signupForm.errors?.['mismatch']) {
                Passwords must match.
              }
            </div>
          }
        </div>        
        <button type="submit" class="btn btn-primary w-full">Create Account</button>
        <p class="account-signup-text">Already have an account? <a (click)="goToSignIn()" class="signup-link">Sign In</a></p>
      </form>
    </div>
  </div>
</div>

<div class="toast toast-center">
  @if (showSuccessToast) {
    <div class="alert alert-success">
      <div>
        <span>Verification Email has been sent! Check your email to complete the sign-up process</span>
      </div>
    </div>
  }
  @if (showErrorToast) {
    <div class="alert alert-error">
      <div>
        <span>Email exists</span>
      </div>
    </div>
  }
</div>
