<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

<div class="content-divider min-h-screen flex flex-col items-center justify-center bg-peach p-4 font-poppins">
  <div class="white-divider rounded-lg shadow-lg flex flex-col lg:flex-row relative w-10/12">

    <div class="flex flex-col items-center justify-center p-8 relative z-10 lg:w-1/2">
      <img src="assets/logo.svg" alt="logo" class="mb-4 custom-logo-size">
      <img src="assets/newTwoGirls.svg" alt="landing assets" class="image-asset w-full max-w-lg">
    </div>

    <div class="vertical-line"></div>

    <div class="p-32 flex-1 relative z-10 lg:w-1/2 ml-0 lg:ml-0">
      <h2 class="h2-class text-5xl font-extrabold mb-6">Sign up</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form space-y-7">
        <div class="relative">
          <input formControlName="username" type="text" placeholder="Username" class="input input-bordered w-full">
          <div *ngIf="usernameControl?.invalid && usernameControl?.touched" class="text-red-500 text-sm mt-1">
            <div *ngIf="usernameControl?.errors?.['required']">Username is required.</div>
            <div *ngIf="usernameControl?.errors?.['minlength']">Username must be at least 4 characters.</div>
          </div>
        </div>

        <div class="relative">
          <input formControlName="email" type="email" placeholder="Email" class="input input-bordered w-full">
          <div *ngIf="emailControl?.invalid && emailControl?.touched" class="text-red-500 text-sm mt-1">
            <div *ngIf="emailControl?.errors?.['required']">Email is required.</div>
            <div *ngIf="emailControl?.errors?.['email']">Invalid email format.</div>
          </div>
        </div>

        <div class="relative">
          <input formControlName="password" type="password" placeholder="Password" class="input input-bordered w-full">
          <div *ngIf="passwordControl?.invalid && passwordControl?.touched" class="text-red-500 text-sm mt-1">
            <div *ngIf="passwordControl?.errors?.['required']">Password is required.</div>
            <div *ngIf="passwordControl?.errors?.['minlength']">Password must be at least 6 characters.</div>
          </div>
          <span class="absolute inset-y-0 right-0 pr-3 flex items-center">
            <svg class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m0 0H5m4 0h6m0 0h4"></path>
            </svg>
          </span>
        </div>

        <div class="relative">
          <input formControlName="confirmPassword" type="password" placeholder="Confirm Password" class="input input-bordered w-full">
          <div *ngIf="confirmPasswordControl?.invalid && confirmPasswordControl?.touched" class="text-red-500 text-sm mt-1">
            <div *ngIf="confirmPasswordControl?.errors?.['required']">Confirmation password is required</div>
            <div *ngIf="signupForm?.errors?.['mismatch']">Passwords must match</div>
          </div>
          <span class="absolute inset-y-0 right-0 pr-3 flex items-center">
            <svg class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m0 0H5m4 0h6m0 0h4"></path>
            </svg>
          </span>
        </div>
        
        <button type="submit" class="btn btn-primary w-full">Create Account</button>
        <p class="account-signup-text">Already have an account? <a (click)="goToSignIn()" class="signup-link">Sign In</a></p>
      </form>
    </div>
  </div>
</div>
