<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<nav class="nav shadow p-12 flex justify-between items-center">
    <div class="flex items-center space-x-4">
      <img src="assets/logo.svg" alt="Huenique Logo" class="logo h-14">
    </div>
    <div class="flex space-x-16">
      <a routerLink="/home" routerLinkActive="active-link" class="text-gray-700 hover:text-blue-500 font-normal text-2xl">Home</a>
      <a routerLink="/color-analysis" routerLinkActive="active-link" class="text-gray-700 hover:text-blue-500 font-normal text-2xl">Color Analysis</a>
      <a routerLink="/about" routerLinkActive="active-link" class="text-gray-700 hover:text-blue-500 font-normal text-2xl ">About</a>
    </div>
    <div class="relative">
      <button class="flex items-center space-x-2 focus:outline-none" (click)="toggleDropdown()">
        <i class="fas fa-user text-gray-800"></i>
        <i class="fas fa-chevron-down text-gray-800"></i>
      </button>
      <div [ngClass]="{ 'hidden': !isDropdownOpen, 'block': isDropdownOpen }" class="absolute right-0 mt-2 w-48 bg-white shadow-lg rounded-md">
        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Profile</a>
        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Settings</a>
        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Logout</a>
      </div>
    </div>
  </nav>