:host {
    display: block;
    height: 100vh;
    overflow: hidden;
}

.custom-logo-size {
    width: 350px;
    height: auto;
    padding-top: 40px;
    margin-right: 10px;
    margin-bottom: 40px;
}

.image-asset {
    width: 600px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.bg-peach {
    background-color: #ffeed9;
}

.header-container {
    margin-top: -20px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
}

@media (min-width: 768px) {
    .landing-content {
        flex-wrap: nowrap;
    }

    .text-container,
    .image-container {
        width: 50%;
    }
}

.h2-class {
    text-align: center;
    margin-top: 90px;
}

.vertical-line {
    width: 5px;
    margin-top: 68px;
    height: 650px;
    background-color: #9d9b9b;
    border-radius: 20px;
}

.account-signin-text {
    text-align: center;
    font-size: 16px;
    color: #666;
}

.signin-link {
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
}

.signin-link:hover {
    text-decoration: underline;
}

.forgot-password-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.forgot-password-link {
    color: #007BFF;
    cursor: pointer;
}

.input {
    border: 2px solid #ccc;
    padding: 8px 15px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
    border-color: #4A90E2;
    box-shadow: 0 0 20px rgba(74, 144, 226, 0.5);
}

.white-divider {
    background: url('../../assets/card.svg') no-repeat center center;
    background-size: cover;
}

.toast-center {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}

.relative {
    position: relative;
}

.relative .toggle-password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #9d9b9b;
}

.relative .toggle-password-icon:hover {
    color: #007BFF;
}

.text-red-500 {
    color: #f56565;
}

.text-sm {
    font-size: 0.875rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.form .relative {
    margin-bottom: 20px;
}

.form .relative .input {
    padding-right: 40px;
    flex: 1;
}

.form .relative .text-red-500 {
    position: absolute;
    bottom: -20px;
    left: 0;
}
