<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmF/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="content-divider min-h-screen flex flex-col items-center justify-center bg-peach p-4 font-poppins">
  <div class="white-divider bg-white rounded-lg shadow-lg flex flex-col lg:flex-row relative w-10/12">
  
  <div class="flex flex-col items-center justify-center p-8 relative z-10 lg:w-1/2">
      <img src="assets/logo.svg" alt="logo" class="mb-4 custom-logo-size">
      <img src="assets/reset_asset.svg" alt="landing assets" class="image-asset w-full max-w-lg">
  </div>

  <div class="vertical-line"></div>
  
  <div class="p-32 flex-1 relative z-10 lg:w-1/2 ml-0 lg:ml-0">
      <h2 class="h2-class text-5xl font-extrabold mb-6">Reset Password</h2>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="form space-y-7">
        <div class="relative">
          <input formControlName="newPassword" type="password" placeholder="New Password" class="input input-bordered w-full">
          @if (newPasswordControl?.invalid && newPasswordControl?.touched){
            <div class="text-red-500 text-sm mt-1">
              @if (newPasswordControl?.errors?.['required']){ 
                <div>Password is required.</div>
              }
            </div>
          }
        </div>
        <div class="relative">
          <input formControlName="confirmNewPassword" type="password" placeholder="Confirm New Password" class="input input-bordered w-full">
          @if (confirmNewPasswordControl?.invalid && confirmNewPasswordControl?.touched){
            <div class="text-red-500 text-sm mt-1">
              @if (confirmNewPasswordControl?.errors?.['required']){
                <div>Confirming password is required.</div>
              }
              @if (confirmNewPasswordControl?.errors?.['mustMatch']){
                <div>Password must match.</div>
              }
            </div>
          }
        </div>
        <button type="submit" class="btn btn-primary w-full">Reset Password</button>
      </form>
    </div>
  </div>
</div>