<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmF/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="content-divider min-h-screen flex flex-col items-center justify-center bg-peach p-4 font-poppins">
  <div class="white-divider bg-white rounded-lg shadow-lg flex flex-col lg:flex-row relative w-10/12">
    <div class="p-32 flex-1 relative z-10 lg:w-1/2 ml-0 lg:ml-0">
      <h2 class="h2-class text-6xl font-extrabold mb-6">Reset Password</h2>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="form space-y-7">
        <div class="relative">
          <input formControlName="newPassword" type="password" placeholder="New Password" class="input input-bordered w-full">
          <div *ngIf="newPasswordControl?.invalid && newPasswordControl?.touched" class="text-red-500 text-sm mt-1">
            <div *ngIf="newPasswordControl?.errors?.['required']">Password is required.</div>
          </div>
        </div>
        <div class="relative">
          <input formControlName="confirmNewPassword" type="password" placeholder="Confirm New Password" class="input input-bordered w-full">
          <div *ngIf="confirmNewPasswordControl?.invalid && confirmNewPasswordControl?.touched" class="text-red-500 text-sm mt-1">
            <div *ngIf="confirmNewPasswordControl?.errors?.['required']">Confirming password is required.</div>
            <div *ngIf="confirmNewPasswordControl?.errors?.['mustMatch']">Passwords must match.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-full">Reset Password</button>
      </form>
    </div>
  </div>
</div>
