.faded {
  opacity: 0.5;
}

.highlighted {
  opacity: 1;
  font-size: 1.1rem;
}

form {
  text-align: center;
}

form p {
  font-size: 2rem;
  font-weight: bold;
  color: #A47E70; 
}

form .flex.items-center {
  justify-content: center;
}

form .radio {
  margin-right: 0.5rem;
}
