.main{
  background-image: url('../../../assets/homepage2.svg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.faded {
  opacity: 0.4;
}

.highlighted {
  opacity: 1;
  font-size: 1.1rem;
}

form {
  text-align: center;
}

form p {
  font-size: 2rem;
  font-weight: bold;
  color: #A47E70; 
}

form .flex.items-center {
  justify-content: center;
}

form .radio {
  margin-right: 0.5rem;
}